@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

:root {
    --primary: #00894b;
    --secondary: #f4ce3f;
    --hover-primary: #03663a;
    --hover-secondary: #f3c82a;
    --text: rgba(0,0,0, 60%);
    --title: rgba(0,0,0, 80%);
    --bg:#f3f3f3;
    --border: rgba(0,0,0, 10%)
}

.noScroll{
    overflow-y: hidden !important;
}

html{
    font-size:16px;
    overflow-x: hidden;
    color:var(--text)
}

body{
    background:#fff;
    font-weight: 400;
    font-family: "Roboto";
}

h1{
    font-family: "Georama";
    font-weight: 600;
    font-size: 2.8rem;
    color:var(--primary);
    margin-bottom: 1.8rem; 
    line-height: 3.2rem;
}
h2{
    font-weight: 400;
    font-size: 1.6rem;
    color:rgba(0,0,0, 50%);
    margin-bottom: 1.8rem;  
    line-height: 2rem;
}
h3{
    font-weight: 600;
    font-size: 1.2rem;
    color:var(--secondary);
    margin-bottom: 1.8rem; 
    line-height: 1.4rem;
}
p{
    color:var(--text);
    font-size:inherit;
    margin-bottom: 1.8rem;
    line-height: 1.6rem;
}
strong, b{
    font-weight: 800;
    font-size: inherit;
}

section{
    background:#fff;
    padding:4rem 0;
}
button{
    cursor:pointer;
}
input, button{
    font-weight: 400;
}
a{
    color:var(--primary);
    text-decoration:none;
    transition: opacity 0.2s ease;
}
a:hover{
    opacity:0.8;
}
input:disabled{
    opacity: inherit;
}
select{
    cursor: pointer;
}
.primary{
    color:var(--primary) !important;
}
.secondary{
    color:var(--secondary) !important;
}
.bg{
    background:#f3f3f3;
}
.container{
    position: relative;
    margin:0 auto;
    height: 100%;
    width: 90%;
}
.btn-lg{
    padding:0 36px !important;
    font-size: 1.1rem;
    height:50px !important;
}
.btn{
    height:45px;
    color:var(--text);
    padding:0 28px;
    font-size:0.9rem;
    border-radius: 40px;
}
.btn-primary{
    background:var(--primary);
    border:1px solid var(--primary);
    transition: background 0.2s ease;
    color:#fff;
}
.btn-primary:hover,
.btn-primary:focus{
    background:var(--hover-primary);
    outline:0;
    border-color: var(--hover-primary);
}
.btn-secondary{
    background:var(--secondary);
    color:#fff;
    border:1px solid var(--secondary);
    transition: background 0.2s ease;
}
.btn-secondary:hover,
.btn-secondary:focus{
    background:var(--hover-secondary);
    outline:0;
    border-color: var(--hover-secondary);
}
.btn-primary-outline{
    background:transparent;
    border:1px solid var(--primary);
    color: var(--primary);
    transition: background 0.2s ease;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus{
    outline:0;
    color:#fff;
    background: var(--hover-primary);
}
.btn-secondary-outline{
    background:transparent;
    border:1px solid var(--secondary);
    color: var(--secondary);
    transition: background 0.2s ease;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus{
    outline:0;
    color:#fff;
    background: var(--secondary);
}


.btn-primary:disabled{
    cursor: default;
    transition: none;
    opacity: .7;
}

.btn-primary:disabled:hover{
    background:var(--primary)
}

.btn-secondary:disabled{
    cursor: default;
    transition: none;
    opacity: .7;
}

.btn-secondary:disabled:hover{
    background:var(--primary)
}


.form-control{
    background:#fff;
    padding:0 20px;
    height:45px;
    font-size:initial;
    color:var(--text);
    border-radius: 40px;
    border:1px solid rgba(0,0,0, 16%);
}
.form-control:focus{
    outline:0;
}
.desktop{
    display: block;
}
.mobile{
    display: none !important;
}
.owl-theme .owl-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}
.owl-theme .owl-dots .owl-dot span {
    width: 6px !important;
    height: 6px !important;
    border-radius: 0 !important;
    transition: all .2s ease-in-out;
}
.owl-theme .owl-dots .owl-dot.active span {
    width: 25px !important;
    height: 6px !important;
    border-radius: 5px !important;
    background-color: var(--secondary) !important;
    transition: all .2s ease-in-out;
}

/**DROPDOWNS**/



@media(max-width:700px){
    .desktop{
        display: none;
    }
    .mobile{
        display: block !important;
    }
}
@media(max-width:480px){
    .container{
        width:90%;
    }
}
@media(min-width: 980px){
    .container{
        width: 90%;
    }
}
@media(min-width: 1200px){
    .container{
        width: 90%;
    }
}
@media(min-width: 1300px){
    .container{
        width: 90%;
    }
}
@media(max-width:300px){
    html, body{
        overflow-x: hidden;
    }
    h1{
        font-size:2rem !important;
        line-height: 2rem !important;
    }
    h2{
        font-size:1.2rem !important;
        line-height: 1.6rem !important;
    }
}