/******************************/
/********* MODAL LOGIN **********/
/******************************/

.dialog {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.dialog.active {
    display: flex;
}

#modalMask {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 50%);
}

.auth {
    background: #fff;
    width: 90%;
    z-index: 1;
    padding: 30px 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    position: relative;
}

.auth #closeDialog {
    position: absolute;
    top: 20px;
    border: none;
    background: transparent;
    font-size: 20px;
    right: 20px;
}

.auth h1 {
    color: #333;
    font-size: 38px;
    text-align: center;
    margin-bottom: 10px;
}
.auth header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.auth form {
    display: flex;
    flex-direction: column;

    gap: 15px;
    margin-top: 20px;
    width: 90%;
    border-bottom: 1px solid rgba(0, 0, 0, 10%);
    padding-bottom: 20px;

}


.auth form input {
    padding: 15px 20px;
    border: 1px solid rgba(0, 0, 0, 10%);
    background: #fff;
    border-radius: 6px;
    font-size: 14px;
    color: #aaa;
}

.auth form input:focus,
.auth form input:active {
    outline-color: #6969DF;
}

.auth .inputGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:15px;
    max-width: 100%;
}
.auth .inputGrid input{
    width: 100%;
}

.auth form div {
    display: flex;
    flex-direction: column;
}

.auth.disabled{
    display: none;
}

.auth form button {
    width: 100%;
    padding: 15px 20px;
    font-size: 14px;
    color: #222;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 10%);
    background: #6969DF;
    color: #fff;
    margin-top: 5px;
}

.auth .loginFooter {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.auth .loginFooter p {
    margin-bottom: 20px;
}

.auth .loginFooter a {
    color: var(--text)
}

@media(min-width:980px) {
    .auth {
        width: 50%;
    }

}

@media(min-width:1300px) {
    .auth {
        width: 30%;
    }

    .auth form {

        width: 70%;

    }
}

/******************************/
/********* GLOBAL **********/
/******************************/

body {
    background: #f3f3f8;
}

#store {
    position: relative;
    overflow: auto;
}

.btn {
    width: 100%;
    text-align: center;
    height: 40px;
    display: block;
    border: 1px solid #37375C;
    line-height: 40px;
    border-radius: 15px;
    color: #37375C;
    transition: background .12s ease !important;
}

.btn:hover {
    background: #37375C;
    color: #fff;
    opacity: 1;
}

.btn.blue {
    border-color: #6969DF;
    background: #fff;
    color: #6969DF;
}

.btn.blue:hover {
    border-color: #6969DF;
    background: #6969DF;
    color: #fff;
}

.btn.purple {
    border-color: #B548C6;
    background: #fff;
    color: #B548C6;
}

.btn.purple:hover {
    border-color: #B548C6;
    background: #B548C6;
    color: #fff;
}


#store main::-webkit-scrollbar {
    width: 8px;
    height: 6px;
}

#store main::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
    margin: 10px;
}

#store main::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}

#store main::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

#store main::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.4);
}

#store aside::-webkit-scrollbar {
    width: 8px;
    height: 6px;
}

#store aside::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
    margin: 10px;
}

#store aside::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}

#store aside::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

#store aside::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.4);
}

#toggleNav {
    border: none;
    font-size: 32px;
    color: #fff;
    background: #37375C;
    width: 60px;
    height: 60px;
    position: fixed;
    z-index: 1;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
}

#toggleNav i {
    line-height: 60px;
}

/****************/
/****GLOBAL*****/
/****************/


/****************/
/****ASIDE*****/
/****************/


#store aside {
    background: #f3f3f8;
    position: fixed;
    display: none;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px 0;
    width: 350px;
    overflow-y: auto;
    z-index: 1;
}

#store aside .logo {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    margin-bottom: 2rem;
}

#store aside .logo img {
    width: 180px;

}

#store aside.active {
    display: block;
    background: #fff;
    width: 325px;
    left: -325px;
}

#store aside.active .aside-body .aside-item {
    gap: 15px;
}

#store aside.active .aside-body .aside-item h3 {
    font-size: 18px;
}

#store aside.active .aside-body .aside-item .icon {
    font-size: 16px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    border-radius: 14px;
}

#store aside.active .aside-body .aside-item .icon i {
    line-height: 35px;
}

#store aside.active .aside-header .user-info img {
    width: 45px;
    height: 45px;
}

#store aside.active .aside-header .user-info span {
    font-size: 12px;
}

#store aside.active .aside-body .aside-item:before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #DDDDED;
    left: 20px;
    bottom: 0;
}


#asideMask {
    width: 100vw;
    z-index: 1;
    height: 100vh;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 50%);
}

#asideMask.active {
    display: block;
}


#store aside .aside-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#store aside .aside-header .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

#store aside .aside-header img {
    width: 60px;
    border-radius: 50%;
}

#store aside .aside-header h3 {
    margin-bottom: 0;
    color: #333;
    font-weight: bold;
}

#store aside .aside-header span {
    font-size: 14px;
}

#store aside .aside-header span,
#store aside .aside-header span a {
    color: rgba(0, 0, 0, 60%);
}

#store aside .aside-header .settings {
    background: #DDDDED;
    color: #a2a2bd;
    border-radius: 14px;
    height: 35px;
    width: 35px;
    text-align: center;
}

#store aside .aside-header .settings i {
    line-height: 35px;
}

#store aside .aside-body h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 80px;
    margin-top: 40px;
}

#store aside .aside-body .flex {
    display: flex;
    flex-direction: column;
}

#store aside .aside-body .aside-item {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px 0;
    padding-left: 20px;
    padding-right: 80px;
    position: relative;
    transition: background 0.2s ease;

}

#store aside .aside-body .aside-item:before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #DDDDED;
    width: 80%;
    left: 0;
    bottom: 0;
}

#store aside .aside-body .aside-item:last-child:before {
    width: 0;
    height: 0;
}

#store aside .aside-body .aside-item:after {
    transition: background 0.2s ease;
}

#store aside .aside-body .aside-item:hover:after,
#store aside .aside-body .aside-item.active:after {
    content: "";
    position: absolute;
    height: 100%;
    background: #222;
    width: 3px;
    right: 0px;
    bottom: 0;
}

#store aside .aside-body .aside-item:hover {
    opacity: 1;
}

#store aside .aside-body .aside-item:hover h3,
#store aside .aside-body .aside-item.active h3 {
    color: #222;
}

#store aside .aside-body .aside-item.disabled:hover h3,
#store aside .aside-body .aside-item.active.disabled h3 {
    color: #999;
}

#store aside .aside-body .aside-item .icon {
    background: #DDDDED;
    color: #a2a2bd;
    border-radius: 16px;
    height: 45px;
    width: 45px;
    text-align: center;
}

#store aside .aside-body .aside-item .icon i {
    line-height: 45px;
}

#store aside .aside-body .aside-item h3 {
    margin-bottom: 0;
    color: #999;
    font-weight: bold;
}

#store aside .aside-body .aside-item.blue .icon {
    background: #6969DF;
    color: #fff;
}

#store aside .aside-body .aside-item.blue:hover:after,
#store aside .aside-body .aside-item.blue.active:after {
    background: #6969DF;
}

#store aside .aside-body .aside-item.red .icon {
    background: #f55050;
    color: #fff;
}

#store aside .aside-body .aside-item.red:hover:after,
#store aside .aside-body .aside-item.red.active:after {
    background: #f55050;
}

#store aside .aside-body .aside-item.yellow .icon {
    background: #FF8700;
    color: #fff;
}

#store aside .aside-body .aside-item.yellow:hover:after,
#store aside .aside-body .aside-item.yellow.active:after {
    background: #FF8700;
}

#store aside .aside-body .aside-item.purple .icon {
    background: #B548C6;
    color: #fff;
}

#store aside .aside-body .aside-item.purple:hover:after,
#store aside .aside-body .aside-item.purple.active:after {
    background: #B548C6;
}

#store aside .aside-body .aside-item.green .icon {
    background: #22B07D;
    color: #fff;
}

#store aside .aside-body .aside-item.green:hover:after,
#store aside .aside-body .aside-item.green.active:after {
    background: #22B07D;
}

#store aside .aside-body .aside-item.cyan .icon {
    background: #12CDD9;
    color: #fff;
}

#store aside .aside-body .aside-item.cyan:hover:after,
#store aside .aside-body .aside-item.cyan.active:after {
    background: #12CDD9;
}

#store aside .aside-body .aside-item.disabled:hover:after,
#store aside .aside-body .aside-item.disabled.active:after {
    background: transparent;
}

/****************/
/****ASIDE*****/
/****************/


/****************/
/****MAIN*****/
/****************/

header .container .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

header .container .flex .right .logo img {
    width: 20px;
}


#store main {
    margin-left: 0;
    padding: 40px 0;
    padding-bottom: 0;
    border-radius: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
}

#store main .sectionTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}

#store main .sectionTitle div {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}


#store main .sectionTitle .icon {
    background: #DDDDED;
    color: #a2a2bd;
    border-radius: 16px;
    height: 50px;
    width: 50px;
    font-size: 20px;
    text-align: center;
}

#store main .sectionTitle .icon i {
    line-height: 50px;
}

#store main .sectionTitle .icon.blue {
    color: #fff;
    background: #6969DF;
}

#store main .sectionTitle .icon.yellow {
    color: #fff;
    background: #FF8700;
}

#store main .sectionTitle .icon.red {
    color: #fff;
    background: #f55050;
}

#store main .sectionTitle .icon.purple {
    color: #fff;
    background: #B548C6;
}

#store main .sectionTitle .icon.green {
    color: #fff;
    background: #22B07D;
}

#store main .sectionTitle .icon.cyan {
    color: #fff;
    background: #12CDD9;
}

#store main .sectionTitle h1 {
    margin-bottom: 0;
    color: #37375C;
    font-size: 32px;
    line-height: 32px !important;
}

.main-divider {
    border-bottom: 1px solid rgba(0, 0, 0, 10%);
    margin: 10px 0;
}

#store main section {
    padding: 1rem 0;
}

.alert {
    width: 100%;
    background: #e0dfdf;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 2rem;

}

.alert h2 {
    color: #222;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
}

.alert p {
    margin-bottom: 0;
    color: #222;
    font-size: 16px;
}

/****************/
/****MAIN*****/
/****************/


/****************/
/****TOTAL PRICE*****/
/****************/

.totalPrice {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
}

.totalPrice h3 {
    margin-bottom: 0;

    color: #222;
    font-weight: bold;
}

.totalPrice .priceInfos {
    display: flex;
    align-items: center;
    gap: 40px;
}

/*********************/
/****TOTAL PRICE*****/
/********************/


/*********************************/
/********** FUEL CARD ***********/
/*******************************/

.card {
    background: #fff;
    padding: 1.8rem;
    border-radius: 12px;
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 5%);
    border: 1px solid rgb(0 0 0 / 5%);
    margin-bottom: 1rem;
}

.fuelCard .flex {
    display: flex;
    flex-direction: column;
}

.fuelCard .flex .col .flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.fuelCard .flex .col .flex img {
    border-radius: 12px;
}

.fuelCard .flex .col-auto .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.fuelCard h3 {
    margin-bottom: 0;
    color: rgb(0 0 0 / 60%)
}

.fuelCard h4 {
    color: #3378d5;
    font-size: 1.2rem;
}

.fuelCard .addQuantity {
    display: block;
}

.fuelCard .addQuantity label {
    background: #fff;
    position: relative;
    padding: 0 10px;
    font-size: 14px;
}

.fuelCard .form {
    display: flex;
    margin-top: 4px;
}

.fuelCard .addQuantity input {
    width: 42px;
    resize: vertical;
    text-align: center;
    display: inline-block;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    font-weight: bold;
    padding-left: 12px;
    font-size: 16px;
    border-color: #dcdcdc;
}

.fuelCard .addQuantity input::-webkit-outer-spin-button,
.fuelCard .addQuantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.fuelCard .addQuantity button {
    min-width: 45px;
    font-size: 14px;
    color: var(--primary);
    font-weight: bold;
    border-color: #dcdcdc;
}

.fuelCard .addQuantity button:first-child {
    border-right: 0;
    border-radius: 40px 0 0 40px;
}

.fuelCard .addQuantity button:last-child {
    border-left: 0;
    border-radius: 0 40px 40px 0;
}

.steps .pointer {
    font-size: 28px;
    color: var(--primary);
    cursor: pointer;
}

.fuelCard .cardAccordion {
    display: block;
    margin-top: 1.8rem;
    border-top: 1px solid #dcdcdc;
    padding: 1.8rem 0;
    padding-bottom: 0;
}

.fuelCard .cardAccordion .flex {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
    justify-content: space-between;
}

.fuelCard .cardAccordion .inputGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.fuelCard .cardAccordion .inputGrid input,
.fuelCard .cardAccordion .inputGrid select {
    width: 100%;
    margin-top: -8px;
    background: #fff;
    display: block;
    border-color: #dcdcdc;
}

.fuelCard .cardAccordion .inputGrid label {
    margin-left: 18px;
    background: #fff;
    position: relative;
    padding: 0 5px;
    font-size: 14px;
}

.fuelCard .cardAccordion button {
    border: none;
    color: #fff;
    border-color: #3378d5;
    background: #3378d5;
    transition: background 0.2s ease;
}

.fuelCard .cardAccordion button:hover {
    background: #1c5bad;
}

#ltsValue {
    font-weight: bold;
}

.products {
    padding-bottom: 20px !important;
}

.priceFooter {
    padding-bottom: 40px !important;
}


/************************************/
/********** END FUEL CARD ***********/
/************************************/


/*******************************/
/*********** BADGE ************/
/******************************/

.badge {
    background: #3378d5;
    padding: 2px 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 5px;
    color: #fff;
    font-weight: bold;
}

/******************************/
/********* END BADGE *********/
/*****************************/


/******************************/
/********* PAGAMENTO *********/
/*****************************/


#payment .grid {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

#payment .grid form input,
#payment .grid form select {
    width: 100%;
    padding: 0px 20px;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 10%);
    border-left: 0;
    background: #fff;
    border-radius: 0 8px 8px 0;
    height: 60px;
}

#payment .grid form button {
    height: 60px;
    width: 100%;
    margin-top: 1rem;
    float: right;
}

#payment .grid form input:focus,
#payment .grid form input:active,
#payment .grid form select:focus,
#payment .grid form select:active {
    outline: 0;
}

#payment .grid form label {
    color: rgb(0 0 0 / 40%);
    font-size: 14px;
}

#payment .grid form .inputGroup {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 5px;
}

#payment .grid form .inputGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#payment .grid form .inputGroup .input-group-prepend {
    border: 1px solid rgba(0, 0, 0, 10%);
    border-right: 0;
    height: 60px;
    padding: 20px;
    border-radius: 8px 0 0 8px;
}

#payment .grid .card {
    display: none;
    justify-content: center;
    width: 100%;
    border: none;
    box-shadow: none;
}

#payment .grid .card-wrapper {
    transform: scale(1);
}


/******************************/
/********* PAGAMENTO *********/
/*****************************/


/************************/
/**** MAIN > ORDERS *****/
/************************/


#orders .order-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#orders .order-item {
    display: flex;
    flex-direction: column;
    color: #aaa;
    padding: 20px;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 14px;
    transition: background .12s ease;
    opacity: 1;
}

#orders .order-item:hover {
    background: #f3f3f8;
    opacity: 1;
}

#orders .order-item .order-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
}

#orders .order-item .order-info .order-id {
    display: flex;
    gap: 15px;
    align-items: center;
}

#orders .order-item .order-info img {
    width: 70px;
    border-radius: 20px;
}

#orders .order-item h3 {
    color: #222;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
}

#orders .order-item .order-quantity {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
    margin-top: 20px;
    align-items: center;
}

#orders .order-item .order-quantity h3 {
    color: #37375C;

}

#store .alert p a {
    color: #222;
    font-weight: bold;
}

/************************/
/**** MAIN > ORDERS *****/
/************************/


/********************************/
/**** MAIN > ORDERS > BADGE *****/
/********************************/

.badge-mobile {
    display: block;
}

.badge-desktop {
    display: none;
}

#orders .badge {
    background: #b7b7cc;
    color: #fff;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 12px;
}

.badge-mobile .badge {
    font-size: 12px;
    border-radius: 8px;
    padding: 5px 10px;
}

#orders .badge.green {
    background: #22B07D;
}

#orders .badge.red {
    background: #f55050;
}

#orders .badge.yellow {
    background: #fcd16d;
}


/********************************/
/**** MAIN > ORDERS > BADGE *****/
/********************************/


/***************************************/
/**** PAGAMENTO > MOSTRAR CARRINHO *****/
/***************************************/

#showCart {
    border: none;
    font-size: 18px;
    color: #fff;
    background: #6969DF;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 1;
    transition: opacity .12s ease;
    position: relative;
}

#showCart .cartBadge {
    position: absolute;
    top: -3px;
    right: -3px;
    color: #fff;
    background: #37375C;
    font-size: 12px;
    padding: 5px;
    font-weight: bold;
    line-height: 10px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

#showCart i {
    line-height: 50px;
}

#showCart:hover {
    opacity: .7;
}

#cart {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#cart.active {
    display: flex;
}

#cartMask {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 50%);
}
/**/
#cart .cartBody {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100vh;
    background: #fff;
    padding: 20px;
}

#cart .cartBody header {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

#cart .cartBody header h4 {
    font-size: 22px;
}

#cart .cartBody header button {
    background: #fff;
    border: none;
    font-size: 28px;
    color: #6969DF;
}

#cart .cartBody .cartContent {
    display: flex;
    flex-direction: column;
}

#cart .cartBody .cartContent .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 10%);
    padding: 20px 0;
}

#cart .cartBody .cartContent .item:last-child {
    border-bottom: 0;
}

#cart .cartBody .cartContent .item .itemInfo {
    gap: 10px;
}

#cart .cartBody .cartContent .item .itemInfo div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cart .cartBody .cartContent .item .itemInfo span {
    font-size: 14px;
}

#cart .cartBody .cartContent .item .itemInfo .badge-circle {
    color: #fff;
    background: #6969DF;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    line-height: 25px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

#cart .cartBody .cartContent .item div {
    display: flex;
    flex-direction: row;
}

#cart .cartBody .cartContent .item .itemPrice {
    display: block;
    gap: 2px;
}

#cart .cartBody .cartContent .item .itemPrice .badge-rounded {
    color: #fff;
    background: #6969DF;
    font-size: 14px;
    font-weight: bold;
    border-radius: 6px;
    padding: 2px 5px;
}

#cart .cartBody .cartContent .item .itemPrice h4 {
    margin-top: 3px;
}

/***************************************/
/**** PAGAMENTO > MOSTRAR CARRINHO *****/
/***************************************/


@media(min-width:980px) {
    #asideMask {
        display: none !important;
    }

    .totalPrice {
        padding: 0;
    }

    .regionModal .modal {
        width: 60%;
        padding: 30px;
    }

    #store main .sectionTitle div {
        gap: 20px;
    }

    #toggleNav {
        display: none;
    }

    #store main .sectionTitle {
        flex-direction: row;
        align-items: center;
    }

    #store aside {
        display: flex;
        width: 350px !important;
        background: #f3f3f8 !important;
    }

    .btn {
        width: auto;
        height: 40px;
        line-height: 40px;
    }

    #store main {
        margin-left: 350px;
        border-radius: 40px 0 0 40px;
        position: fixed;
        padding: 60px 0;
        z-index: 1;
        height: 100vh !important;
        width: calc(100% - 350px);
        overflow: auto;
        margin-top: 0;
    }

    #store .navMobile {
        display: none;
    }

    #store main .sectionTitle h1 {
        font-size: 38px;
    }

    #store aside .aside-header .user-info {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .fuelCard .flex {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .fuelCard .flex .col-auto .flex {
        gap: 15px;
        margin-top: 0;
    }
}

@media(min-width: 1280px) {
    .alert h2 {
        color: #222;
        font-weight: bold;
        margin-bottom: 0px;
        font-size: 20px;
    }

    #payment .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    #payment .grid .card {
        display: flex;
    }

    #payment .grid form button {
        width: calc(50% - 10px);
    }
}

@media(min-width: 1300px) {

    #store main section {
        padding-top: 0;
        padding-bottom: 40px;
    }

    .main-divider {
        border-bottom: 1px solid rgba(0, 0, 0, 10%);
        margin: 20px 0;
    }

    #orders .order-body {
        gap: 0;
    }

    #orders .order-item h3 {
        font-size: 18px;
    }

    #orders .order-item {
        display: flex;
        flex-direction: row;
        background: #fff;
        padding: 20px !important;
        align-items: center;
    }


    #orders .order-item .order-quantity {
        width: 100%;
        justify-content: space-between;
        gap: 0px;
        margin-top: 0px;
    }

    .badge-mobile {
        display: none;
    }

    .badge-desktop {
        display: block;
    }

    #orders .order-item .order-info div:first-child {
        gap: 20px;
    }

    #orders .order-item .order-info img {
        width: 80px;
        display: block;
    }

}

@media(min-width: 1600px) {
    #payment .grid .card-wrapper {
        transform: scale(1.2);
    }
}